@import "tailwindcss";
@import "./scrollbar.css";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/PretendardVariable.woff2") format("woff2-variations");
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* variables */
  --py-lg: 80px;
  --py-md: 40px;
  --py-sm: 20px;
  --px-lg: 132px;
  --px-md: 60px;
  --px-sm: 24px;

  --header-height: 4.375rem;
  --sidebar-header-height: 6.375rem;
  --chat-header-height: 4rem;
  --chat-textarea-height: 5rem;

  --main-margin-lg: 11.25rem;

  --sidebar-width: 18.75rem;
  --sidebar-collapsed-width: 5rem;

  /* Color System */
  /* Common Colors */
  --common-0: #ffffff;
  --common-100: #000000;

  --error: #f2474b;

  /* Blue Colors */
  --blue-300: #579bec;
  --blue-400: #658aef;
  --blue-500: #376af6;
  --blue-600: #005eeb;
  --blue-700: #0054d1;

  /* Gray Colors */
  --gray-50: #f8fafd;
  --gray-100: #f2f5fa;
  --gray-150: #edf0f5;
  --gray-200: #efefef;
  --gray-250: #dfdfe0;
  --gray-300: #a7acb6;
  --gray-400: #858588;
  --gray-450: #636367;
  --gray-500: #47484c;
  --gray-550: #2f3235;
  --gray-600: #2f3235;
  --gray-650: #262a2d;
  --gray-700: #211c32;
  --gray-750: #171719;
  --gray-800: #09031c;

  /* Primary Color System - Light Theme (Default) */
  --primary-normal: var(--blue-500);
  --primary-neutral: var(--blue-300);
  --primary-assistive: var(--blue-400);
  --primary-strong: var(--blue-600);
  --primary-heavy: var(--blue-700);

  /* Background Color System - Light Theme (Default) */
  --background-normal: var(--common-0);
  --background-neutral: var(--common-0);
  --background-alternative: var(--gray-100);
  --background-assistive: var(--common-0);

  /* Text Color System - Light Theme (Default) */
  --strong: var(--gray-750);
  --normal: var(--gray-700);
  --neutral: var(--gray-500);
  --alternative: var(--gray-400);
  --assistive: var(--gray-300);
  --disable: var(--gray-250);

  /* Icon Color System - Light Theme (Default) */
  --icon-normal: var(--gray-500);
  --icon-neutral: var(--gray-400);
  --icon-disable: var(--gray-300);
  --icon-assistive: var(--gray-300);

  /* Line Color System - Light Theme (Default) */
  --line-normal: var(--gray-200);
  --line-neutral: var(--gray-200);
  --line-alternative: var(--gray-250);
  --line-assistive: var(--gray-250);

  /* Modal Color System - Light Theme (Default) */
  --modal-line-normal: var(--gray-200);
  --modal-line-alternative: var(--gray-250);
  --modal-icon-normal: var(--gray-500);
  --modal-background-normal: var(--common-0);
  --modal-background-alternative: var(--common-0);
  --modal-background-assistive: var(--gray-100);
  --modal-background-neutral: var(--gray-100);

  /* Dropdown Color System - Light Theme (Default) */
  --dropdown-background-normal: var(--common-0);
  --dropdown-background-alternative: var(--gray-50);

  /* Interaction Color System - Light Theme (Default) */
  --interaction-background-active: var(--gray-100);
  --interaction-text-active: var(--gray-450);
  --interaction-text-inactive: var(--gray-300);

  /* Card Color System - Light Theme (Default) */
  --card-icon-normal: var(--gray-500);
  --card-assistive: var(--gray-450);

  --card-text-assistive: var(--gray-450);

  /* Slider Color System - Light Theme (Default) */
  --slider-line-normal: var(--gray-250);
  --slider-background-normal: var(--common-0);

  --table-alternative: var(--gray-50);

  --context-background-normal: var(--common-0);
  --context-background-alternative: var(--gray-50);
}

/* rem 배율 정의: base 레이어에서 잡아주기 */
@layer base {
  /* 일반 */
  @media (-webkit-min-device-pixel-ratio: 1) {
    :root {
      font-size: 16px;
    }
  }

  /* 레티나 디스플레이(Mac)  */
  @media (-webkit-min-device-pixel-ratio: 2) {
    :root {
      font-size: 14px;
    }
  }

  /* 초고해상도 모바일/모니터  */
  @media (-webkit-min-device-pixel-ratio: 3) {
    :root {
      font-size: 12px;
    }
  }
}

@theme {
  /* Base Theme Variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:
    "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
  --font-mono:
    "Pretendard", ui-monospace, SFMono-Regular, "SF Mono", Consolas,
    "Liberation Mono", Menlo, monospace;

  /* Color System */
  --color-common-0: var(--common-0);
  --color-common-100: var(--common-100);

  --color-error: var(--error);

  /* Blue Colors */
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);

  /* Gray Colors */
  --color-gray-50: var(--gray-50);
  --color-gray-100: var(--gray-100);
  --color-gray-150: var(--gray-150);
  --color-gray-200: var(--gray-200);
  --color-gray-250: var(--gray-250);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-450: var(--gray-450);
  --color-gray-500: var(--gray-500);
  --color-gray-550: var(--gray-550);
  --color-gray-600: var(--gray-600);
  --color-gray-650: var(--gray-650);
  --color-gray-700: var(--gray-700);
  --color-gray-750: var(--gray-750);
  --color-gray-800: var(--gray-800);

  /* Primary Color System */
  --color-primary-normal: var(--primary-normal);
  --color-primary-neutral: var(--primary-neutral);
  --color-primary-assistive: var(--primary-assistive);
  --color-primary-strong: var(--primary-strong);
  --color-primary-heavy: var(--primary-heavy);

  /* Background Color System */
  --color-background-normal: var(--background-normal);
  --color-background-neutral: var(--background-neutral);
  --color-background-alternative: var(--background-alternative);
  --color-background-assistive: var(--background-assistive);

  /* Text Color System */
  --color-strong: var(--strong);
  --color-normal: var(--normal);
  --color-neutral: var(--neutral);
  --color-alternative: var(--alternative);
  --color-assistive: var(--assistive);
  --color-disable: var(--disable);

  /* Icon Color System */
  --color-icon-normal: var(--icon-normal);
  --color-icon-neutral: var(--icon-neutral);
  --color-icon-disable: var(--icon-disable);
  --color-icon-assistive: var(--icon-assistive);

  /* Line Color System */
  --color-line-normal: var(--line-normal);
  --color-line-neutral: var(--line-neutral);
  --color-line-alternative: var(--line-alternative);
  --color-line-assistive: var(--line-assistive);

  /* Modal Color System */
  --color-modal-line-normal: var(--modal-line-normal);
  --color-modal-line-alternative: var(--modal-line-alternative);
  --color-modal-icon-normal: var(--modal-icon-normal);
  --color-modal-background-normal: var(--modal-background-normal);
  --color-modal-background-alternative: var(--modal-background-alternative);
  --color-modal-background-assistive: var(--modal-background-assistive);
  --color-modal-background-neutral: var(--modal-background-neutral);

  /* Dropdown Color System */
  --color-dropdown-background-normal: var(--dropdown-background-normal);
  --color-dropdown-background-alternative: var(
    --dropdown-background-alternative
  );

  /* Interaction Color System */
  --color-interaction-background-active: var(--interaction-background-active);
  --color-interaction-text-active: var(--interaction-text-active);
  --color-interaction-text-inactive: var(--interaction-text-inactive);

  /* Card Color System */
  --color-card-icon-normal: var(--card-icon-normal);
  --color-card-assistive: var(--card-assistive);
  --color-card-text-assistive: var(--card-text-assistive);
  /* Slider Color System */
  --color-slider-line-normal: var(--slider-line-normal);
  --color-slider-background-normal: var(--slider-background-normal);

  --color-table-alternative: var(--table-alternative);

  --color-context-background-normal: var(--context-background-normal);
  --color-context-background-alternative: var(--context-background-alternative);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;

  --primary-normal: var(--blue-500);
  --primary-neutral: var(--blue-300);
  --primary-assistive: var(--blue-400);
  --primary-strong: var(--blue-600);
  --primary-heavy: var(--blue-700);

  /* Background Color System - Dark Theme Override */
  --background-normal: var(--common-0);
  --background-neutral: var(--gray-700);
  --background-alternative: var(--gray-800);
  --background-assistive: var(--gray-800);

  /* Text Color System - Dark Theme Override */
  --strong: var(--gray-200);
  --normal: var(--gray-250);
  --neutral: var(--gray-250);
  --alternative: var(--gray-300);
  --assistive: var(--gray-300);
  --disable: var(--gray-250);

  /* Icon Color System - Dark Theme Override */
  --icon-normal: var(--gray-250);
  --icon-neutral: var(--common-0);
  --icon-disable: var(--gray-300);
  --icon-assistive: var(--gray-450);

  /* Line Color System - Dark Theme Override */
  --line-normal: var(--gray-200);
  --line-neutral: var(--gray-600);
  --line-alternative: var(--gray-600);
  --line-assistive: var(--gray-400);

  /* Modal Color System - Dark Theme Override */
  --modal-line-normal: var(--gray-600);
  --modal-line-alternative: var(--gray-600);
  --modal-icon-normal: var(--gray-300);
  --modal-background-normal: var(--gray-650);
  --modal-background-alternative: var(--gray-550);
  --modal-background-assistive: var(--gray-100);
  --modal-background-neutral: var(--gray-500);

  /* Dropdown Color System - Dark Theme Override */
  --dropdown-background-normal: var(--gray-650);
  --dropdown-background-alternative: var(--gray-600);

  /* Interaction Color System - Dark Theme Override */
  --interaction-background-active: var(--gray-650);
  --interaction-text-active: var(--gray-400);
  --interaction-text-inactive: var(--gray-400);

  /* Card Color System - Dark Theme Override */
  --card-icon-normal: var(--gray-300);
  --card-assistive: var(--gray-300);

  --card-text-assistive: var(--gray-300);

  /* Slider Color System - Dark Theme Override */
  --slider-line-normal: var(--gray-500);
  --slider-background-normal: var(--gray-650);

  --table-alternative: var(--gray-650);

  --context-background-normal: var(--gray-550);
  --context-background-alternative: var(--gray-500);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    "Pretendard",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  font-feature-settings: "tnum" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
